@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

html {
  background-color: #dff0ff;
  scroll-behavior: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-family: "Roboto Mono", monospace;
  text-decoration: none; /* Optional: remove underline */
}

a:hover {
  text-decoration: underline; /* Optional: underline on hover */
}

.name-wrapper {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  color: #00ff00;
  white-space: nowrap;
  width: 100%;
  max-width: 450px;
  margin: 0; /* Remove auto margin */
  text-align: left; /* Force alignment */
}

.name-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left; /* Ensure text-align is left */
  padding-right: 0; /* No extra space for the cursor */
  animation: typing 3s steps(40, end) forwards;
}

.cursor-hidden .name-text {
  border-right: none; /* Hide cursor after typing is complete */
}

.name-text span {
  background-color: #4a5568; /* Gray background color */
  color: #ffffff; /* White text color */
  padding: 0.2rem 0.2rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Animation for typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .name-wrapper {
    max-width: 100%;
  }

  .name-text {
    text-align: center;
  }
}
