@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linkMain {
    @apply bg-black m-6 flex-auto text-center p-5 rounded-2xl min-w-32;
  }

  .links {
    @apply text-lg no-underline text-white block p-3 hover:text-red-600;
  }

  .life-text p,
  .edu-text p,
  .pub-text p {
    @apply text-darkviolet mb-6 text-2xl leading-10 font-semibold;
  }

  .main-content {
    @apply p-4;
  }

  .sidebar-icon {
    @apply flex items-center justify-center w-16 h-16 bg-gray-800 text-white hover:bg-gray-700 transition-colors duration-300 relative;
  }

  .sidebar-tooltip {
    @apply absolute left-16 top-1/2 transform -translate-y-1/2 bg-black text-white text-sm font-bold rounded p-2 opacity-0 transition-opacity duration-300;
    white-space: nowrap;
    pointer-events: none;
  }

  #buttons {
    @apply my-4 mx-auto text-2xl p-4 rounded-xl w-52 border-none inline-block;
  }

  .smallText p {
    @apply text-xl leading-relaxed;
  }
}

@media (max-width: 768px) {
  .text-4xl {
    @apply text-2xl;
  }

  .text-2xl {
    @apply text-lg;
  }

  .pl-16 {
    @apply pl-4;
  }

  .smallText p {
    @apply text-base;
  }
}

body,
p {
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #dff0ff;
  scroll-behavior: auto;
}

.scrollable-container {
  overflow-y: auto;
  height: 100vh; /* or any appropriate height */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 0;
  overflow: auto;
}

.header {
  position: relative; /* Change to fixed if needed */
  z-index: 10; /* Ensure this is lower than the scrollbar's default */
  width: 100%;
}

#root {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  overflow-y: auto;
  height: 100%;
}

.sidebar {
  width: 250px; /* Adjust based on your sidebar width */
}

.sidebar-hidden {
  width: 0;
}

/* Ensure footer spans the full width */
footer {
  width: 100%;
}

#header-name h1 {
  @apply mr-8;
}

/* PERSONAL */
/* PERSONAL */
/* PERSONAL */

@media (max-width: 1024px) {
  #personal .text-4xl {
    @apply text-2xl;
  }

  #personal .text-2xl {
    @apply text-lg;
  }

  #personal .smallText p {
    @apply text-base;
  }

  #personal .mt-32 {
    @apply mt-8;
  }

  #personal-item {
    @apply text-sm;
  }
}

@media (max-width: 680px) {
  #personal .text-4xl {
    @apply text-xl;
  }

  #personal .text-2xl {
    @apply text-base;
  }

  #personal .smallText p {
    @apply text-sm;
  }

  #personal .mt-32 {
    @apply mt-8;
  }

  #personal-item {
    @apply text-xs leading-8;
  }
}

/* PERSONAL */
/* PERSONAL */
/* PERSONAL */

/* SKILLS */
/* SKILLS */
/* SKILLS */

@media (max-width: 768px) {
  #non-tech-text {
    @apply text-center;
  }
}

/* SKILLS */
/* SKILLS */
/* SKILLS */

/* WORK */
/* WORK */
/* WORK */

@media (max-width: 1024px) {
  #workFunction {
    @apply text-center;
  }

  #workFunction > div {
    @apply mb-8;
  }

  #workText > * {
    @apply mb-4;
  }

  #work div h1 {
    @apply text-3xl;
  }
}

/* WORK */
/* WORK */
/* WORK */

/* EDUCATION */
/* EDUCATION */
/* EDUCATION */

/* index.css or App.css */

/* For screens less than 900px */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  min-width: 100%;
  box-sizing: border-box;
}

.slider-title {
  font-size: 1.5rem;
}

.slider-details {
  font-size: 1rem;
}

.slider-button {
  font-size: 1.25rem;
}

/* EDUCATION */
/* EDUCATION */
/* EDUCATION */
