@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --darkModeText: #e2e8f0;
  --lightBg: #e2e8f0;
  --lightModeText: #0a0a0a;
  --darkBg: #0a0a0a;
}

@layer base {
  * {
    @apply border-border;
  }
}

.nav-name {
  font-family: "Rubik", sans-serif;
}

@font-face {
  font-family: "GeistSans";
  src: url("../fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GeistSans";
  src: url("../fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GeistSans";
  src: url("../fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GeistMono";
  src: url("../fonts/GeistMono-Light.woff2") format("woff2");
  font-weight: 700;
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.dark .slick-dots li.slick-active button {
  background-color: red;
}
.slick-dots li.slick-active button {
  background-color: blue;
}

.slick-dots li button {
  background-color: #cccccc;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
}

@media (max-width: 1024px) {
  .slick-dots li {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 640px) {
  .slick-dots li {
    width: 5px;
    height: 5px;
  }
}

#custom-font {
  font-family: "GeistMono", "GeistSans", sans-serif;
}

* {
  font-family: "GeistSans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--lightModeText);
  background-color: var(--lightBg);
}

.dark html,
.dark body {
  color: var(--darkModeText);
  background-color: var(--darkBg);
}

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a,
.dark span,
.dark div,
.dark div.text {
  color: var(--darkModeText);
}

#root {
  background-color: var(--lightBg);
  isolation: isolate;
  position: relative;
  min-height: 100vh;
}

.dark #root {
  background-color: var(--darkBg);
}

.nav-item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
  border-radius: 0.5rem;
}

.nav-item > * {
  font-family: "JetBrains Mono", monospace;
}

.nav-item:hover {
  color: #ffffff;
  background-color: rgba(74, 85, 104, 0.8); /* Slight transparency for hover */
  transform: scale(1.05);
}

.nav-item.active {
  color: #ffffff;
  background-color: #4a5568; /* Light mode active background */
}

.dark .nav-item.active {
  background-color: #2d3748; /* Dark mode active background */
}

.nav-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.nav-item:hover::before {
  border-color: rgba(255, 255, 255, 0.2);
}

.active-nav-item-outline {
  border: 2px solid #1a202c !important;
}

@media (max-width: 1400px) {
  .nav-item {
    padding: 0.3rem 0.8rem;
  }
}

@media (max-width: 1024px) {
  .nav-item {
    text-align: start;
  }
}

.now-playing-indicator {
  display: flex;
  align-items: flex-end;
  gap: 2px;
}

.dot {
  width: 6px;
  height: 10px;
  background: #6b7280;
  border-radius: 1px;
  animation: wave 1.2s ease-in-out infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

/* The animation keyframes */
@keyframes wave {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}
